export PATH=./node_modules/.bin:$PATH
export COMPOSE_PROJECT_NAME=mongo-replset

eval "$(docker-machine env --swarm swarm-master)"

export DOCKER_CA="$(cat $DOCKER_CERT_PATH/ca.pem)"
export DOCKER_CERT="$(cat $DOCKER_CERT_PATH/cert.pem)"
export DOCKER_KEY="$(cat $DOCKER_CERT_PATH/key.pem)"

export MANUL_ADDR=http://192.168.99.107:3000