export PATH=$PWD/node_modules/.bin:$PATH
export COMPOSE_PROJECT_NAME=mongo-replset

eval "$(docker-machine env --swarm swarm-master)"

export $(cat ./docker-compose/env/.env.mongo)
export DOCKER_CA="$(cat $DOCKER_CERT_PATH/ca.pem)"
export DOCKER_CERT="$(cat $DOCKER_CERT_PATH/cert.pem)"
export DOCKER_KEY="$(cat $DOCKER_CERT_PATH/key.pem)"

# @TODO: its a hardcode value, need to solve 
export MANUL_ADDR=http://192.168.99.102:3000
